.box {
    border: 1px solid black;
    width: 600px;
    height: 400px;
    position: absolute;
}
    
.box1 {
    position: absolute;
    right: 0;
}
    
.box2 {
    position: absolute;
    left: 0;
}
    
.box3 {
    position: absolute;
    bottom: 0;
}
    
.box4 {
    position: absolute;
    bottom: 0;
    right: 0;
}
    
.box5 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}