*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: none;
    padding: 0.8rem 2.3rem;
    font-size: 18px;
    background-color: #e84949;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
}

button::before{
    content: "";
    z-index: -1;
    position: absolute;
    background-color: #1f1f1f;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
}

button:hover::before{
    transform: scaleX(1);
}