*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
}

.weather-block{
    margin-block: 4rem;
}

h1 {
    text-align: center;
    text-transform:uppercase;
    padding-top: 20px;
}

.btn-group{
    width:90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.btn-group{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.btn-group .current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    padding: 8px;
    border-radius: 4px;
}

.btn{
    all: unset;
    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.subcontainer{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.initial-ui{
    display:none; 
}

.initial-ui.active{
   display:flex;
}

.initial-ui img{
   margin-bottom: 2rem;
}

.initial-ui h3{
   font-size: 1.75rem;
   font-weight: 600; 
}

.initial-ui p:last-of-type{
   font-size:0.85rem;
   font-weight: 500;
   margin-top: 0.75rem;
   margin-bottom: 1.75rem;
   letter-spacing: 0.75px;
}

.loading-ui{
    display: none;
}

.loading-ui.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-ui p{
    text-transform: uppercase;
}

.user-weather-ui{
    display:none;
}

.user-weather-ui.active{
    display: flex;
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.user-weather-ui p{
    font-size:1.5rem;
    font-weight:200;
}

.user-weather-ui img{
    width:90px;
    height:90px;
}

.name p{
    font-size:2rem;
}

.name img{
    width: 30px;
    height:30px;
    object-fit: contain;
}

.user-info-container p[data-cityTemp] {
    font-size:2.75rem;
    font-weight:700;
}

.box-container{
    width:90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.box{
    width:30%;
    max-width:200px;
    background-color: rgba(219, 226, 239, 0.5);;
    border-radius: 5px;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:5px 0;
    /* justify-content: space-between; */
    align-items: center; 
}   

.box img{
    width:50px;
    height:50px;
}

.box p:first-of-type{
    font-size: 1.15rem;
    font-weight:600;
    text-transform: uppercase;
}

.box p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width:90%;
    max-width:550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px; 
    margin-bottom: 3rem;
}

.input-feild{
    margin: 20px;
    display: flex;
    gap: 10px;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height:40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom:1px;
}

.api-error-container {
    display: none;
}

.api-error-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem 0;
}

.api-error-container p {
    text-align: center;
}

.api-error-container img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
