*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    height: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

.container h1{
    text-align: center;
    font-size: 3rem;
    margin: 25px 0;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.card{
    width: 30%;
    margin-bottom: 25px;
    box-shadow: 0 0 20px #333;
    transition: all 1.2s;
    filter: grayscale(1);
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    position: relative;
    width: 100%;
    height: 100%;
}

.card:hover{
    transform: scale(1.03);
    filter: grayscale(0);
}

.card figcaption{
    position: absolute;
    opacity: 0;
}

.card:hover figcaption{
    font-weight: 500;
    font-size: 16px;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    color: #fff;
    background-image: linear-gradient(0 deg,rgba(0,0,50,0.5)0%,rgba(255,5,255,0));
    position: absolute;
    border-radius: 0 0 20px 20px;
    opacity: 1;
}