*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins-bold', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
} 

.background{
    transform: translateZ(-40px) scale(5.05);
}

.foreground{
    transform: translateZ(-20px) scale(3);
}

.background, .forground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

h1{
    position: absolute;
    align-self: center;
    color: white;
    font-size: 8rem;
    top: 5rem;
    letter-spacing: 5px;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section{
    color: white; 
}

p{
    background-color: rgb(45,45,45);
    padding: 5rem ;
    color: white;
    font-size: 1.5rem;
}

p span{
    font-size: 70px;
    display: block;
}

.bg1{
    background-image: url(./assets/sport-1.jpg);
}

.bg2{
    background-image: url(./assets/sport-2.jpg);
}

.bg3{
    background-image: url(./assets/sport-3.jpg);
}

.bg{
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
}

h3{
    background-color: white;
    padding: 0.5rem 2.5rem;
    color: black;
    display: inline-block;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top:50%;
    left:50%; 
    font-weight: 600;
    font-size: 3.5rem;
}